{% extends 'base.html' %}
<!-- protect -->
{% block title %}Pages Due{% endblock title %}
<!-- protect -->
{% block content %}
<div class="card shadow">
  <div class="card-header">
    <h6 class="m-0 font-weight-bold text-primary text-center py-2">
      {{student}} - All Pages
    </h6>
  </div>
  <div class="card-body">{% include 'table.html' with pages=pages_all %}</div>
</div>
{% endblock content %}
<!-- protect -->
{% block script %}
<script>
  $(document).ready(function () {
    $("#dataTable").DataTable({
      stateSave: true,
      responsive: true,
    });
  });
</script>
{% endblock script %}
