{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/dataTables.bootstrap4.css' %}"
    />
  </head>
  <body class="mx-lg-5">
    <div class="container-fluid">
      <nav class="navbar navbar-light">
        <span class="navbar-brand" style="font-weight: 500">Quran SRS</span>
        {% if request.path == '/'%}
        <a href="/accounts/logout/" class="btn btn-danger">Logout</a>
        {% else %}
        <div class="btn-group" role="group">
          <a href="/" class="btn btn-outline-primary">Home</a>
          {% if 'due' in request.path %}
          <a
            href="{% url 'page_all' student_id=student.id %}"
            class="btn btn-outline-primary"
            >All Pages</a
          >
          {% else %}
          <a
            href="{% url 'page_due' student_id=student.id %}"
            class="btn btn-outline-primary"
            >Due Pages</a
          >
          {% endif %}
        </div>
        {% endif %}
      </nav>

      {% block content %} {% endblock content %}
    </div>

    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.js' %}"></script>
    {% block script %}{% endblock script %}
  </body>
</html>
