{% load static bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}{% endblock title %}</title>
    {% bootstrap_css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.css"
    />
  </head>
  <body>
    <div class="container-lg">
      <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
        <div class="container-fluid">
          <span class="navbar-brand" style="font-weight: 500">Quran SRS</span>
          {% if request.path == '/'%}
          <a href="/accounts/logout/" class="btn btn-danger">Logout</a>
          {% else %}
          <!-- protect -->
          {% include 'nav.html' %}
          <!-- protect -->
          {% endif %}
        </div>
      </nav>

      {% block content %}{% endblock content %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% bootstrap_javascript %}
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.js"
    ></script>
    {% block script %}{% endblock script %}
  </body>
</html>
