{% extends 'base.html' %}
<!-- protect -->
{% load custom_format bootstrap5 %}
<!-- protect -->
{% block title %} {{student.name}} - Bulk Update {% endblock title %}
<!-- protect -->
{% block content %}

<div class="card shadow">
  <div class="card-header">
    <h6 class="m-0 font-weight-bold text-primary text-center py-2">
      {{student.name}} - Bulk Update
    </h6>
  </div>
  <div class="card-body row">
    {% if bulk_pages %}
    <div class="col-md-6">{% include 'table.html' with pages=bulk_pages %}</div>
    {% endif %}
    <form action="." method="POST" class="col-md-6 card card-body">
      {% csrf_token %}
      <!-- protect -->
      {% bootstrap_form form %}
      <button class="btn btn-primary">Update</button>
    </form>
  </div>
</div>

{% endblock content %} {% block script %}
<script>
  let dataTableOptions = {
    stateSave: true,
    responsive: true,
    scrollX: true,
    paging: true,
    dom: "<t><'my-3'p><'my-3'f><'my-3'i>",
  };
  $(document).ready(function () {
    $("#dataTable").DataTable(dataTableOptions);
  });
  //Set the number of elements that appear in the paging control so that Previous and Next button are fully visible on the phone
  $.fn.DataTable.ext.pager.numbers_length = 5;
</script>
{% endblock script %}
