{% extends 'base.html' %}
{% load static %}
{% load custom_format %}
{% block title %} Pages Due {% endblock title %}

{% block style %}
 {{block.super}}
   <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.css' %}">

 {% endblock style %}

 {% block content %}


<div class="card shadow mb-4">
    {% comment %} <div class="card-header py-3">
    <center>
        <h6 class="m-0 font-weight-bold text-primary">
        {{student}} - Pages Due for Revision Today
        </h6>
        </center>
    </div> {% endcomment %}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                {% for page, page_summary in pages_due.items %}
                 {% if forloop.first %}
            <thead>
                <tr>
                    <td>Page</td>
                    {% for key,key_display_name in keys_map.items %}
                    <td>
                      {{key_display_name}}
                    </td>
                    {% endfor %}
                </tr>
                </thead>
                {% endif %}
                <tr>
                    <td>
                        <a href="{% url 'page_entry' student_id=student.id page=page %}">{{page}}</a>
                    </td>

                    {% for key in keys_map.keys   %}
                    <td>{{ page_summary|get_item:key }}</td>

                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
      <form class="form-inline" action="{% url 'page_new' student_id=student.id %}" method="GET">
    <div class="form-group mx-sm-3 mb-2">
      <input type="number" class="form-control" name="page" required value="{{next_new_page}}">
    </div>
    <button type="submit" class="btn btn-primary mb-2" >Enter New Page</button>
    </form>

    </div>
</div>
{% endblock content %}

{% block script %}
{{block.super}}
<script src="{% static 'js/jquery.dataTables.js' %}">
</script>
<script src="{% static 'js/dataTables.bootstrap4.js' %}">
</script>

<script>
$(document).ready(function() {
  $('#dataTable').DataTable();
});
</script>
{% endblock script %}