{% extends 'base.html' %}
<!-- protect -->
{% block title %}Pages Due{% endblock title %}
<!-- protect -->
{% block content %}
<div class="card shadow">
  <div class="card-header">
    <h6 class="m-0 font-weight-bold text-primary text-center py-2">
      {{student}} - Due Pages
    </h6>
  </div>
  <div class="card-body">
    {% include 'table.html' with pages=pages_due %}
    <div class="my-5"></div>
    <table class="table table-hover" id="summaryTable">
      <thead>
        <tr>
          <td>Date</td>
          <td>Number of Due Pages</td>
        </tr>
      </thead>
      {% for due_date,count in due_date_summary.items %}
      <tr>
        <td>{{due_date | date:"Y-m-d"}}</td>
        <td>{{count}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
<!-- protect -->
{% block script %}
<script>
  let dataTableOptions = {
    stateSave: true,
    responsive: true,
    scrollX: true,
    paging: true,
    dom: "<t><'my-3'p><'my-3'f><'my-3'i>",
  };
  $(document).ready(function () {
    $("#dataTable").DataTable(dataTableOptions);
  });
  //Set the number of elements that appear in the paging control so that Previous and Next button are fully visible on the phone
  $.fn.DataTable.ext.pager.numbers_length = 5;
</script>
{% endblock script %}
