{% extends 'base.html' %}


{% block content %}

        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-1 text-gray-800">List of Students</h1>
          <p class="mb-4">Please select a student to see/update his/her revision. 
          </p>

          <!-- Content Row -->
          <div class="row">

            <!-- Border Left Utilities -->
            <div class="col-lg-6">
            {% for student in students %}

              <div class="card mb-4 py-3 border-left-success">
                <div class="card-body" >
                <a href="{% url 'page_due' student_id=student.id %}">
                  {{student.name}}
                </a>
                </div>
              </div>
            {% endfor %}
            </div>

          </div>

        </div>
        <!-- /.container-fluid -->

  <form action="." method="POST">
        {% csrf_token %} {{ form }}
        <p><button>Save</button></p>
    </form>


{% endblock content %}
