{% extends 'base.html' %}
<!-- protect -->
{% block title %}List of Students{% endblock title %}
<!-- protect -->
{% block content %}
<!-- protect -->

<div class="row">
  {% for student in students %}
  <div class="col-lg-4 col-sm-6">
    <div class="card my-3">
      <div class="card-header h6">{{student.name}}</div>
      <div class="card-body">
        <div class="btn-group w-100">
          <a
            href="{% url 'page_due' student_id=student.id %}"
            class="btn btn-outline-primary"
            >Due Pages</a
          >
          <a
            href="{% url 'page_due' student_id=student.id %}"
            class="btn btn-outline-primary"
            >All Pages</a
          >
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- protect -->
{% endblock content %}
