<button
  class="navbar-toggler"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#navbarNav"
>
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="/" class="nav-link">Switch Student</a>
    </li>
    <li class="nav-item">
      <a
        href="{% url 'page_all' student_id=student.id %}"
        class="nav-link {% if 'all' in request.path %} active {% endif %}"
        >All Pages</a
      >
    </li>
    <li class="nav-item">
      <a
        href="{% url 'page_due' student_id=student.id %}"
        class="nav-link {% if 'due' in request.path %} active {% endif %}"
        >Due Pages</a
      >
    </li>
    <li class="nav-item">
      <a
        href="{% url 'bulk_update' student_id=student.id %}"
        class="nav-link {% if 'bulk_update' in request.path %} active {% endif %}"
        >Bulk Update</a
      >
    </li>
  </ul>

  <form
    class="d-flex ms-auto"
    action="{% url 'page_new' student_id=student.id %}"
    method="GET"
  >
    <input
      type="number"
      class="form-control me-2"
      name="page"
      required
      value="{{next_new_page}}"
      placeholder="Jump to page"
    />
    <button type="submit" class="btn btn-outline-primary">Go</button>
  </form>
</div>
