{% extends 'base.html' %}
{% load static %}
{% load custom_format %}
{% block title %} Enter Revision Data {% endblock title %} {% block content %}
<div class="card shadow mb-4">
    <div class="row card-header py-3">
        <table width="100%">
            <tr>
                <td>
                    <h6 class="m-0">
                        <a href="{% url 'page_due' student_id=student.id %}">View Due Pages</a>
                    </h6>
                </td>
                <td>
                    <h6 class="m-0 font-weight-bold text-primary">
                        {{student.name}} - Page {{page}}
                    </h6>
                </td>
            </tr>
        </table>
    </div>
</div>
{% if not new_page %}
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    {% for key,key_display_name in keys_map.items %}
                    <td>
                        {{key_display_name}}
                    </td>
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for key in keys_map.keys   %}
                    <td>{{ page_summary|get_item:key }}</td>

                    {% endfor %}

                </tr>
            </tbody>
        </table>

    </div>

    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable">
            <thead>
                <tr>

                    <td>No</td>
                    <td>Date</td>
                    <td>Line</td>
                    <td>Word</td>
                </tr>
            </thead>

            {% for rev in revision_list%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{rev.date |date:'d-M'}}</td>
                <td>{{rev.line_mistakes | display_zero}}</td>
                <td>{{rev.word_mistakes | display_zero}}</td>
            </tr>
            {% endfor%}
        </table>
    </div>

</div>
{% endif %}
</div>

<form action="." method="POST">
    {% csrf_token %} {{ form.as_p }}
    <p><button>Update</button></p>
</form>

{% if due_page %}
<p>Due Pages in <b>Groups of 10</b>:

    {% for page in next_page_set %}

    <a href="{% url 'page_entry' student_id=student.id page=page due_page=1 %}">{{page}} </a>
    {% if not forloop.last %}
    ,
    {% endif %}

    {% endfor %}
</p>
{% else %}
<p>
    Prev/Next Pages :
    <a href="{% url 'page_entry' student_id=student.id page=page|add:'-1' due_page=0 %}">{{page|add:'-1'}}
    </a>
    <a href="{% url 'page_entry' student_id=student.id page=page|add:'1' due_page=0 %}">{{page|add:'1'}}
    </a>
</p>
{% endif %}

{% if next_page_set|length > 10 %}


<p>Due Pages <b>All in Order</b>:

    {% for page in next_page_set_sorted %}

    <a href="{% url 'page_entry' student_id=student.id page=page due_page=1 %}">{{page}} </a>
    {% if not forloop.last %}
    ,
    {% endif %}

    {% endfor %}
</p>
{% endif %}

{% endblock content %}