{% extends 'base.html' %}
{% load static %}
{% load custom_format %}
{% block title %} Enter Revision Data {% endblock title %} {% block content %}


  <p>



    </p>
<div class="card shadow mb-4">
    <div class="row card-header py-3">
    <table width="100%">
      <tr>
      <td>
      <h6 class="m-0">
      <a href="{% url 'page_due' student_id=student_id %}">View Due Pages</a>
      </h6>
      </td>
      <td>
        <h6 class="m-0 font-weight-bold text-primary">
        Enter Mistakes in Page {{page}}
        </h6>
      </td>
      </tr>
      </table>
    </div>
</div>
        {% if not new_page %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                        {% for key,key_display_name in keys_map.items %}
                            <td>
                            {{key_display_name}}
                            </td>
                        {% endfor %}

                     </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {% for key in keys_map.keys   %}
                        <td>{{ page_summary|get_item:key }}</td>

                        {% endfor %}

                        {% comment %} {% for key,value in page_summary.items %}
                                <td>{{value}}</td>

                        {% endfor %} {% endcomment %}
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        {% endif %}
    </div>

    <form action="." method="POST">
        {% csrf_token %} {{ form.as_p }}
        <p><button>Update</button></p>
    </form>

 {% endblock content %}