<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        {% for rev in revisions%}
        <tr>
            <td>{{rev.page}}</td>
            <td>{{rev.date}}</td>
            <td>{{rev.line_mistakes}}</td>
            <td>{{rev.word_mistakes}}</td>
            <td>{{rev.current_interval}}</td>
        </tr>
        {% endfor%}
    </table>
</body>

</html>