{% load custom_format %}
<table class="table table-hover table-striped nowrap" id="dataTable">
  <thead>
    <tr>
    {% for key in pages.0.keys %}
      <th scope="col">{{key | format_title}}</td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for page_summary in pages %}
    <tr>

      {% for value in page_summary.values %}
      {% if forloop.first %}
      <td scope="row">
        <a
          href="{% url 'page_entry' student_id=student.id page=value due_page=1 %}"
          >{{value}}</a
        >
      </td>
      {% elif forloop.last and "consecutive_pages" in pages.0.keys %}
      <td>
        {% for page in page_summary.values %}
        {% if forloop.first %}
        <a
        href="{% url 'consecutive_pages' student_id=student.id page=page %}"
          >{{value}}</a
        >
        {% endif %}
        {% endfor %}
      </td>
      {% else %}
      <td>{{ value | date:"Y-m-d" | default:value}}</td>
      {% endif %}
      <!-- protect -->
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
