<tr></tr>
    <th><label for="id_page">Page:</label></th>
    <td><input type="number" name="page" value="21" min="2" max="600" required id="id_page"></td>
</tr>
<tr>
    <th><label for="id_interval">Interval:</label></th>
    <td><input type="number" name="interval" value="10" required id="id_interval"></td>
</tr>
<tr>
    <th><label for="id_revision_count">Revision count:</label></th>
    <td><input type="number" name="revision_count" value="12" min="0" required id="id_revision_count"></td>
</tr>
<tr>
    <th><label for="id_line_mistakes">Line mistakes:</label></th>
    <td><input type="number" name="line_mistakes" value="12" min="0" max="15" required id="id_line_mistakes"></td>
</tr>
<tr>
    <th><label for="id_word_mistakes">Word mistakes:</label></th>
    <td><input type="number" name="word_mistakes" value="1" min="0" required id="id_word_mistakes"></td>
</tr>
<tr>
    <th><label for="id_score">Score:</label></th>
    <td><input type="number" name="score" value="12" required id="id_score"></td>
</tr>
<tr>
    <td><button>Submit</button></td>
</tr>